
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 142.1 76.2% 36.3%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 142.1 76.2% 36.3%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 142.1 76.2% 36.3%;
    --radius: 0.8rem;
  }
  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 98%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 0 0% 98%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 0 0% 98%;
    --primary: 142.1 76.2% 36.3%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 142.1 76.2% 36.3%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 142.1 76.2% 36.3%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  /* Definição de fontes baseadas em variáveis do next/font */
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-playfair), serif;
  }
  
  body {
    font-family: var(--font-pt-sans), sans-serif;
  }

  .font-headline {
    font-family: var(--font-playfair), serif;
  }

  /* High Contrast Mode Styles */
  body.high-contrast {
    --foreground: 0 0% 0%;
    --background: 0 0% 100%;
    --muted-foreground: 0 0% 10%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;
    --border: 0 0% 0%;
    --input: 0 0% 100%;
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 90%;
    --secondary-foreground: 0 0% 0%;

    button, [role="button"] {
      @apply border-2 border-black;
    }
  }

  .dark body.high-contrast {
    --foreground: 0 0% 100%;
    --background: 0 0% 0%;
    --muted-foreground: 0 0% 90%;
    --card: 0 0% 0%;
    --card-foreground: 0 0% 100%;
    --border: 0 0% 100%;
    --input: 0 0% 0%;
    --primary: 60 95.1% 53.1%;
    --primary-foreground: 0 0% 0%;
    --secondary: 0 0% 10%;
    --secondary-foreground: 0 0% 100%;

     button, [role="button"] {
      @apply border-2 border-white;
    }
  }
}
